*.log
*.tmp
*.pyc
__pycache__/
.DS_Store
*.db
NIST/
*.png
*.gif
*.svg
*.npy
*.mdb
wandb/
*.csv
*.pt
*.parquet
hydra.yaml
overrides.yaml
NIST
*.parquet
help_notebooks
trial.ipynb
run_eval.ipynb

!experimental.csv
!experimental.parquet
